apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    isDefault: true
    editable: false

  - name: PostgreSQL
    type: postgres
    url: pc-postgres:5432
    database: perfectcatch
    user: postgres
    secureJsonData:
      password: ${POSTGRES_PASSWORD:-password}
    jsonData:
      sslmode: disable
      maxOpenConns: 5
      maxIdleConns: 2
